
/*created by Sara Pearce at Left Turn Only http://leftturnonly.tv*/

/*
Table of Contents
1.0 Elements (excluded to reduce conflicts)
2.0 Sections
3.0 Text
4.0 Colors
5.0 Images/Video
6.0 Responsiveness
*/


/*2.0 Sections*/

.ss-page-container {
    width: 100%;
    margin: 0;
    padding: 0;
}


.ss-bloc{
    width:100%;
    clear:both;
    background: 50% 50% no-repeat;
    -webkit-background-size: cover 200%;
    -moz-background-size: cover 200%;
    -o-background-size: cover 200%;
    background-size: cover 200%;
    position:relative;
}
.ss-bloc .ss-container{
    padding-left:0;
    padding-right:0;
}


.ss-banner {
    width: 100%;
}

.ss-marketplace {
    width: 100%;
}

.ss-marketplace p {
    color: black;
}

.ss-short-rect h2 {
    padding-top: 20px;
}

.ss-header {
    margin: 0;
    height: 50px;
}

.ss-footer {
    clear: both;
    width: 100%;
    margin: 0;
    padding: 0;
}

.ss-short-rect {
    height: 70px;
    text-transform: uppercase;
    margin: 0;
}

.ss-sm-col {
    border: 1px solid #737373;
    width: 250px;
    height: 350px;
    box-shadow: 1px 1px 1px 1px rgba(0,0,0,0.4);
    margin: 20px;
}

.ss-list {
    display: inline-block;
}

.ss-list p {
    height: 70px;
}



/* Sizes */

.ss-bloc-xl{
    padding:150px 50px;
}
.ss-bloc-lg{
    padding:0px 50px;
}
.ss-bloc-md{
    padding:50px;
}
.ss-bloc-sm{
    padding:20px 50px;
}

/* Row Margin Offsets */

.ss-voffset{
    margin-top:30px;
}
.ss-voffset-lg{
    margin-top:80px;
}

/* = Buttons
-------------------------------------------------------------- */
.ss-btn {
    width: 250px;
    
}

.ss-btn .ss-pull-right{
    margin: 0 0 5px 5px;
}
.ss-btn-d,.ss-btn-d:focus{
    color: white!important;
    background-color:#d63223;
    text-align: center;
}

.ss-btn-d:hover {
    background-color: #333333;
}

.ss-btn-wire{
    border: 0.5px solid #333333;
}

.ss-dropdown a .ss-caret{
    margin:0 0 0 5px}

/* = Icons if i use this it all needs to get prefixed
-------------------------------------------------------------- */
.ss-icon-md{
    font-size:30px!important;
}
.ss-icon-xl{
    font-size:100px!important;
}

/* Image Frame */
.ss-img-frame,.ss-img-frame-md,.ss-img-frame-lg,.ss-img-frame-rd,.ss-img-frame-rd-md,.ss-img-frame-rd-lg{
    background:#FFF;
    border:1px solid rgba(0,0,0,0.1);
    box-shadow:0 2px 2px rgba(0,0,0,0.05);
    padding:4px;
}
.ss-img-frame{
    border-radius:3px;
}
.ss-img-frame-md,.ss-img-frame-lg{
    border-radius:6px;
}
.ss-img-frame-md,.ss-img-frame-rd-md{
    padding:8px;
}
.ss-img-frame-lg,.ss-img-frame-rd-lg{
    padding:14px;
}

.ss-panel-sq, .ss-panel-sq .ss-panel-heading, .ss-panel-sq .ss-panel-footer{
    border-radius:0;
}
.ss-panel-rd{
    border-radius:30px;
}
.ss-panel-rd .ss-panel-heading{
    border-radius:29px 29px 0 0;
}
.ss-panel-rd .ss-panel-footer{
    border-radius:0 0 29px 29px;
}


/*3.0 Texts*/

.ss-text-center {
    text-align: center;
    vertical-align: middle;
}

.ss-text {
    background: transparent;
}

.ss-short-rect h2 {
    vertical-align: middle;
    margin: 0;
    padding-top: 18px;
}

.ss-header h1 {
    padding-top: 5px;
    margin: 0;
}

.ss-btn a {
    text-decoration: none;
    color: white;
}

.ss-list h6 {
    text-shadow: 2px 2px rgba(0,0,0,0.4);
    font-size: medium;
}


/* 4.ss-0 Colors
-------------------------------------------------------------- */

/* Background color styles */

.ss-bgc-white{
    background-color:#ffffff;
}

.ss-bgc-red {
    background-color: #d63223;
}

.ss-bgc-slate {
    background-color: #333;
}


/* Text colour styles */

.ss-tc-white{
    color:#ffffff!important;
}

.ss-text-shadow {
    text-shadow: 2px 2px rgba(0,0,0,0.4);
}

/* Button colour styles */

.ss-wire-btn-carmine-pink{
    color:#F35342!important;
    border-color:#F35342!important;
}
.ss-wire-btn-white{
    color:#ffffff!important;
    border-color:#ffffff!important;
}

/*5.0 Images/Video*/

.ss-list img {
    height: 170px;
    width: 250px;
}

/*6.0 Responsiveness
-------------------------------------------------------------- */

/*overwrite bootstraps fixed widths in responsiveness with some responsive widths*/

@media (min-width: 768px) {
    .ss-container {
        width: 100%;
    }
}
@media (min-width: 992px) {
    .ss-container {
        width: 100%;
    }
}
@media (min-width: 1200px) {
    .ss-container {
        width: 100%;
    }
}

