/*
Table of Contents
1.0 Elements
2.0 Sections
3.0 Text
4.0 Colors
5.0 Images/Video
6.0 Responsiveness
*/

/*1.0 Elements*/
/*
body{
    margin:0;
    padding:0;
    background:#FFF;
    overflow-x:hidden;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}*/
a:hover{text-decoration: none; cursor:pointer;}

a,button{outline: none!important;} /* Prevent ugly blue glow on chrome and safari */

h1, h2, h3, h4, h5, h6, p, label, .btn, a{
    font-family: Lato;
}

/*2.0 Sections*/

.page-container {
    /*border: 10px solid black;*/
    width: 100%;
    margin: 0;
    padding: 0;
}


.bloc{
    width:100%;
    clear:both;
    background: 50% 50% no-repeat;
    -webkit-background-size: cover 200%;
    -moz-background-size: cover 200%;
    -o-background-size: cover 200%;
    background-size: cover 200%;
    position:relative;
}
.bloc .container{
    padding-left:0;
    padding-right:0;
}


.banner {
    /*border: 5px solid pink;*/
    width: 100%;
}

.marketplace {
    /*border: 5px solid blue;*/
    width: 100%;
}

.marketplace p {
    color: black;
}

.short-rect h2 {
    padding-top: 20px;
}

.header {
    margin: 0;
    height: 50px;
}

.footer {
    clear: both;
    width: 100%;
    margin: 0;
    padding: 0;
    /*border: 5px solid green;*/
}

/*TODO: rename this class*/
.short-rect {
    /*width: 100%;*/
    height: 70px;
    text-transform: uppercase;
    margin: 0;
}

.sm-col {
    border: 1px solid #737373;
    width: 150px;
    height: 350px;
    /*I <3 box shadow. . . maybe can show SrSo?*/
    box-shadow: 1px 1px 1px 1px rgba(0,0,0,0.4);
    margin: 20px;
    padding: 10px;
}

.list {
    /*display: flex;*/ 
    display: inline-block;
}

.list p {
    height: 70px;
}



/* Sizes */

.bloc-xl{
    padding:150px 50px;
}
.bloc-lg{
    padding:0px 50px;
}
.bloc-md{
    padding:50px;
}
.bloc-sm{
    padding:20px 50px;
}

/* Row Margin Offsets */

.voffset{
    margin-top:30px;
}
.voffset-lg{
    margin-top:80px;
}

/* = Buttons
-------------------------------------------------------------- */
.btn {
    width: 142px;
}

.btn .pull-right{
    margin: 0 0 5px 5px;
}
.btn-d,.btn-d:focus{
    color: white!important;
    background-color:#d63223;
    text-align: center;
}

.btn-d:hover {
    background-color: #333333;
}

.btn-wire{
    border: 0.5px solid #333333;
}

.list .btn {
    margin-left: -7px;
}
.dropdown a .caret{
    margin:0 0 0 5px}

/* = Icons if i use this it all needs to get prefixed
-------------------------------------------------------------- */
.icon-md{
    font-size:30px!important;
}
.icon-xl{
    font-size:100px!important;
}

/* Image Frame */
.img-frame,.img-frame-md,.img-frame-lg,.img-frame-rd,.img-frame-rd-md,.img-frame-rd-lg{
    background:#FFF;
    border:1px solid rgba(0,0,0,0.1);
    box-shadow:0 2px 2px rgba(0,0,0,0.05);
    padding:4px;
}
.img-frame{
    border-radius:3px;
}
.img-frame-md,.img-frame-lg{
    border-radius:6px;
}
.img-frame-md,.img-frame-rd-md{
    padding:8px;
}
.img-frame-lg,.img-frame-rd-lg{
    padding:14px;
}

.panel-sq, .panel-sq .panel-heading, .panel-sq .panel-footer{
    border-radius:0;
}
.panel-rd{
    border-radius:30px;
}
.panel-rd .panel-heading{
    border-radius:29px 29px 0 0;
}
.panel-rd .panel-footer{
    border-radius:0 0 29px 29px;
}


/*3.0 Texts*/

.text-center {
    text-align: center;
    vertical-align: middle;
}

.text {
    background: transparent;
}

.short-rect h2 {
    vertical-align: middle;
    margin: 0;
    padding-top: 18px;
}

.header h1 {
    padding-top: 5px;
    margin: 0;
}

.btn a {
    text-decoration: none;
    color: white;
}

.list h6 {
    text-shadow: 2px 2px rgba(0,0,0,0.4);
    font-size: medium;
}


/* 4.0 Colors
-------------------------------------------------------------- */

/* Background color styles */

.bgc-white{
    background-color:#ffffff;
}

.bgc-red {
    background-color: #d63223;
}

.bgc-slate {
    background-color: #333;
}


/* Text colour styles */

.tc-white{
    color:#ffffff!important;
}

.text-shadow {
    text-shadow: 2px 2px rgba(0,0,0,0.4);
}

/* Button colour styles */

.wire-btn-carmine-pink{
    color:#F35342!important;
    border-color:#F35342!important;
}
.wire-btn-white{
    color:#ffffff!important;
    border-color:#ffffff!important;
}

/*5.0 Images/Video*/

.list img {
    height: 154px;
    width: 138px;
    margin-left: -5px;
    margin-top: -3px;
}

iframe{
    border:0;
}

video {
    width: 100%;
}

/*6.0 Responsiveness
-------------------------------------------------------------- */

/*overwrite bootstraps fixed widths for responsiveness*/

@media (min-width: 768px) {
    .container {
        width: 100%;
    }
}
@media (min-width: 992px) {
    .container {
        width: 100%;
    }
}
@media (min-width: 1200px) {
    .container {
        width: 100%;
    }
}

